[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Together
Name[zh]=同在
Exec=/usr/bin/invoker --type=d /opt/together/bin/together
Icon=/usr/share/icons/hicolor/80x80/apps/together80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable 
#X-Maemo-Service=com.nokia.together
