Source: together
Section: user/other
Priority: optional
Maintainer: karin <beyondk2000@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev, zlib1g-dev
Standards-Version: 3.7.3
Homepage: https://www.facebook.com/profile.php?id=100005131424444

Package: together
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Together is a simple client for ******.
 Together is based on ****** web API.
XSBC-Maemo-Display-Name: Together
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAAK
 TWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQ
 WaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec
 5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28A
 AgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0
 ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaO
 WJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHi
 wmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryM
 AgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0l
 YqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHi
 NLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYA
 QH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6c
 wR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBie
 whi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1c
 QPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqO
 Y4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hM
 WEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgoh
 JZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSU
 Eko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/p
 dLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Y
 b1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7O
 UndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsb
 di97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W
 7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83
 MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxr
 PGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW
 2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1
 U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd
 8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H0
 8PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+H
 vqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsG
 Lww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjg
 R2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4
 qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWY
 EpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1Ir
 eZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/Pb
 FWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYj
 i1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVk
 Ve9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0Ibw
 Da0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vz
 DoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+y
 CW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawt
 o22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtd
 UV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3r
 O9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0
 /rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv95
 63Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+
 UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAA
 ADqYAAAXb5JfxUYAABMuSURBVHjaxJt5kF1lmcZ/33fOuUvvW1ayEyQhMdAkBEIKUNGRoaIlKhks
 hLDMFA5MKahoCY5LWTMOxZRSQkqcGUdxZURFR2CIKCphCUsiJiEQCOkmS5P03p3ue+/Zvnf+OOdu
 3bdvd2eZOVWde+7Z7nne792fN4pTtFlpGwLRqSU1zcmFqZmha5oRqUVRLyIKQIj+lXgPERE4JjCq
 EgwEB7xur8MbwMZIzpyS91Qn5yGK+lVNM2vPqju35qzaVarFWp5eWbPEz/mLrNlOo55lN4auj0EI
 xRQhi8FgEInFIHmRGJStCI76Q8ERf4iE7vRfye0P+8NXg9dyO/297g7/Fbf7/1UAdo1N23tmvbPp
 ktYPpM6uucxa7LTTRF3gGLyMhzeUw2jBzwaYbAAajMQgFdGnCBLviwBKCnphQoGUQqc0YgRdZ6FS
 GuUZzKAZCTv8Pwe73MfdZ7K/8bdmd0lW/m8EUDO/1p579cKPN29ou8FekbzIxSUzMII75OK7QQEA
 KARBlaxu/oyIidc5Okd8TbxDiY6U3Fv8rhyFqtfoegtCCPd4W70t2f/0fjHyI9MVBqdEAEoplnzy
 zOvn/MOCfzQLWTx4aIDRvlGMMWhU/Kgi0AiYlIGP1F4AE4MnvgbAVARfFA4TCkU3W+hZFqYz6HD/
 Y+Rr3r+PfO+kCqD53NbFy+45+zvO+tT7uvcfJdM3itYaFd8u44CWgI/PU/icADyxiVQBn98bf1wi
 M2nS6NMsgm3eE+6dwzeZXX7HCQtgzoZ571/xk9W/6PcGavv29UTAlY7VOHrpiVbeFFZ8IvAlNi9T
 X/n8JpW0RUAvtBAY9W4a/Ej4hLularSqdnLBtUuuXP7A2b/u6jmSGDowgG3boNQ48Eyw8kXwRcU+
 ZeABUZEjNQMGsSVhX5X6uBwye2RPsGfaGjD78tMuXfnz1b873NVFtmcU27aj1asA3lRV+1LwYxze
 yQRf9g0IBVoUtGj864fea37v/X7KAmhY3jT7/BcuOXC4921n9MgIjm1NHfwYb39ywZc8qxr4/JEA
 aNOoeuV77x9YIG8ER8Zi1ZW8/Vmb2x/u9wadkSPDJwSekwhepgteIgNXvQYEx/6X+ocrLfc4ASy4
 7vRrku+uuaB3XzeO7VQEL1MEXx7nix78eFa+HGYV8FJwPVFgtkDeCrEuci6wNqavqWoCyZlp67yt
 Fx3ps/racv25KXv7UxXnK9n82JA4DnwJsMI5I6gmjcqqXveD/bOlz4QVNWDuR+dfJ0toy/SOloGX
 auBLf6gMvOAZl6FwmL6gl16/j16/j+FwGF+CCeO8lKIYB14mBs8E4POp94DA6brN2pC6rqIGaFtz
 7hMX7s4sdldkjmZQimnF+Wg3pC8YwPcHoxhrNzIrMYN6qw6NxpeAoWCIHu8I+G70Aol6Gqz6YkIz
 XW9favOVwBcgCqpFwz7zivs3AyuJE2Y7f23LurZVztnpFaNv9qNj9FOJ8wqFQTiSOwjGZVHdCt47
 62rWNV7AsvRSFqTm02K3YGHhi0+v30en+xYvH9vJM8PbeGLgSYZGu8C2qE/MzCfUJx08AtJv0Kus
 FXq1s8o87+8sF8BlM690tYuEBrQ1pThvKZs+v5dsrpf2lgu5ae6NbGy7gmanudzTxI9K6gR1di2L
 0gt4V9NF3MotvJU9wA+7H+T+Q/dzeLgDO91A2qrFSDBt8FQBX7jFVljvSlyZF0DhvrMfO/8ld3mw
 OtudKcqyire3lM2h7JtYKsnXT/8qt8//dOFHwiAgFINSVTJtAUtZaCdyQ4PBEF/a/1Xu7fgmWIra
 5CxEghIfMzl4KTNJVQ4+f7RFI7vD7d7HB9cU7q1dUjd72WPnHOrPDVjGlamBH93L/JrT+eU7f8aa
 unYw4AceqONoMQg4CQeAh3oeZuPOq8B41KRmYSQ8aeARIAFK69D72OA8ORAe0QD15zSukRZlBW44
 aZy3lM2hzD4W1pzBS+c9x5q6dgIvwIvBa61xHAetdfWGimXjOE6kJQo8z0MC4coZV/CnNX9AWQky
 Xm8UjarF+emAB/CBFmXpFfaaQhhMLa1pD5MSpa5V4rxC0+91k7Rq+V3748y026IXV9HTHcfBsqL6
 yrIsHMcp8+qF1XYclI7WzrZtLB3d44tP4Adc3Hghv1r5a/BDPMmUgZow1E0FfP7SlEItttsLArBO
 Syz3Mm6Jv6oc5wMJyLj9fPvMzSxNLSbwgoKd23bkTz/3xc+xfv16PnX7p/BDv3C8sPKOzdHebjZe
 vZH169ez+bub0ZbGsixU3EUygeGDMy/jxtm3EB4bAXsy8GpK4AvfcwJz9XIAW2tNekV6UXbYLcnO
 KsR5EXrdw6xpvYTrZ18NBowyhaaI1ppvfOsb3P1PdwPw7LPP0tLSwpe/8GWMiTTLtmyUUmy6fhNb
 Hnm8cN2yM5Zx6cWXYkyUeAUmIEGCu0//Gg92/JRRd5iEXQ9m8lBXDXycE2GOGfQ7rEUo0Bix/aw/
 zygpq9XH1vMGgwldPjH3hkhdA78APq8FTz/1dNkPPvf8tnIPHKv9tmeeKzu+65VdhX3HckgkElEn
 qr6ZO5Z8AQ740ctbJw5eEJQScGUegq3Tp9fOsE5z2vysX0hNK9XzIyZDQ3oulzZeMi7w5q+99TO3
 lSXXt3/ms2XnwzBKwe/40p3FvsPC2Vy78dqCDwHoGNnPH/u38mj/Fo4lj4FtYwaDCJQ+AfAiRROY
 o9vUQnuGnViYatMz7bQ5FEQ2OEE9PxoMs7bhfBYlF0I43qsHQcDF6y5ix1928OKzL3LO2nbWnnMe
 vu8XrskL4HO33s7yM5fRd7iP6zZdBw78tucJfj36KE8NPc3hgS4GBgcgkwNbU98yC5M0uCkf6gWG
 QY/GbfQp2LwqWQQAcUG16bQ6TbfaJjAtYRBEBYOpUs8bjxa7OVqBCo1nEcH3fdpXttO+sj0Sih8g
 IgUTUUoRhiEKxQf++gMA/NHfyhd23cG2vU/DDuA14LAm0ZsgzNpopVG1GdQsSM4Fa22S8CKFt9hH
 jgh6VBW1bgJhlEWiWHmUAUJptYFaQTBxXj9RPR/p0eTkg+/740CPZZG0pcn5Hte/eQMP7voxbAH7
 6SRqryEkwGDwyEVaA/h48AZoFPbPbOwzEqQ/nCbYaOM1++hDFYr7icCX79faKOrCOP7nTaAIvsTE
 lCIX5qbMIVTL+I5ku3nPK+/l1T/swvl+ArMnJMCd9LkGwcPHe8PHuitL+rE60l9MkTsvgA6DEjXO
 9icCbyLbqNMiYhcKjirNDEvX8np2P4Pu4CS95Amwi+AkHLJelnW7L+HV3+wi/ZVa/D0eYSWnMskW
 YhjZNYz7sUGcR0At0XHSVqFDIJUsQ6I0IM9K5CP/+L59FJvrrTq6Rl9n6/Bzx8Uo2laUEG3cv4nO
 J18j/fUaspnREyY3PeMRfPIYya0OMlcV/aJIZbWXsoNGC2DElNT8lfv2Og7C3z/6kyjVVdNQAwFt
 aR7p/h8e2fkQ9n0OWT9TdknbjFY2/9tm7vvOZlpaWsY9oqmpiXu/fS/3f/d+5i2YVy4EfMxtIyT6
 HcIGA6Yy+NKmav7DJl55UbHUqnRv08k2fnnkp2yf9xlWN51D6IVT0gbbtkHga313w6PAofFc/72b
 7+OqK6+KtK2mjk3XbCo7f8+37ikcmzdnHhsu31B2Pts3Su0DKdStGjJSHqlkYpPQZYnPJK3rtE6D
 hFy798aCQxtX7FRyilqx69geXuh8GvWcTVDB5ufPm1/kIlubx51vbWst7Dc2NlZwkBA8miV5yMYo
 KQuNFcHnaTRA5fn5yfr2oYQ0pk9jz+AOrtodrUYikZiSEP6U2Qpv+CQ6KpvOjX97Iy/ueJHnXtjG
 LTffMu78zTffzPMvPc/2l7dz0yc+UTlKdAXo12NkYZQ1Tgw+im02IkbyMV6YtHWNCLXpmfxX1w+w
 gR+tfIBEIoHv+VXNoTM8AAcgCPyK5/fu2cva1WsnvP9g50EuOO+CqkJ28Qh7M1jJJNJvkFoFTiyM
 UvBKopApGC3CiMjEwwmVqGhb2aRTbfz40A84//mLOZzpGlf2jt1y4kI2Cl+ncjPESZgAGRP5grKy
 Ib+QCmBEizBaUHsm5+ejrNFgKxudbuSFwa28metAaYVC4ThO8c9y0CoyxmarCZrBwTll4G0sEokk
 YRgiVgx0VApCKIsAUYQf1cqS/mIdUJ2xoWQyI2pcHGNpy9msa1pbaHbs7NvNz/Y/RMdwZ8wNRDa/
 ofEyWArUnrrVT6QSJBalCLNheWqcFSSU8mZC5Cj7bf+g3xf0+DmSKkVOpkVX4Rs+1LoBRztkgyz/
 vOsuvr7nLkI3R7qhleUNZ7KgZgEzkq1kxcVZ2ox6Zxa2+adEALLKIrfYw+rWZdSPiEAmaoVhA0kF
 PZKlK+yx/Y5cT9Dl96plep7JBdPj6hwLBfyq87/59J8/S0fPG1CnseobyfpD7DjyLDuCZwsZh3N6
 C6kPNWC2+RVD4YlsDhb2R9O4uOiwuPqSr4cN4ErUtU6B7Av75JDps1HKw1GHMMwbt8KT8PPpZDP3
 dN3H3UeHYAgSzS2xmhksuw6x88VR5HOk2+BeElLzV40c+20/cpLAayD9vkay7wpQXVJozZfxjFa+
 H2gQT6McDqHwtIgQvOp2qlo9bX5eiUJEYc9pJDWnFXyBuK9XMDVVXA0VCMGQT3C7Tf1ZTSdlSlMB
 dWc14X9eEw76qKACeFW0e1Fx/rvXdJLPl4KD/ms6pafNzxsEGwvL2EgzqEaQsKRvn1/5fHGiQQ9r
 claW4F8dGtY1Y6FPYOU19eua8L9pk3NyWEM6Tn4qgM+/vQLlaDgYvlZoiwcd3suSM2V2U24O47mZ
 MpFIPJPTrKBBQVwiFMrzfFMOBVqwejSu4+Lepan9+2ZqGmuOSwy1Z9XDN1JkE1nsbh0NQ1QCX9Y5
 U5AT5KB5uUCO+rty201faEigxZ2Mn5+AqwtBDKimWAWP5UFLCV0mBXvUAwq/xiO4wSb17jrqH6/B
 fypLuC/Aw0XHrHO0StG+YyWQRjD9PiGC3+uhex0sexLwquSgDfSHRl4Pt5cpSNODc3awSrcHPcGJ
 8fMqHksZEhg2YKuiIMYab6wiptFgN9rYfRbqTQj3e9QMpnEHchGr3Joi05RFv8PGzAF7C3g/HCUc
 dknc1kjuKoM6PAXwAjQDu8I/m09lzi2jx4OX3S3O+rp26fZRSh0/Py9RI081KEQ0jAhYUl4nqPJP
 a1hjhgxeMiRcIVirLYaVW+hRusoFowkzPgSCd6Mmta4O+4cJPAJw9fhnVwAvCNRoeMVsGTch4qxJ
 nVf34IwXvLfdeJxn+uDLWFqlwAIZNtH/ALDGDuSoCn3MCpMOpYxXHpAB0yTopBU9P5Ovays8qxS8
 DTRp5JbRtewOXyybEfJ3uC8GO71XdatVFvqOC3yJY1T1CuoU5TXQCYCP31oPK6QvBE+K1ODYgqcU
 vCJy0K+Er7InAl8+JGUE7+HMfbrNKuubndBwgimaA3UqKkpElb3vtMGX3hPGGZ4uOaomAA/QoJEt
 3n2li1GWi6gGnax9ZObb0mSaTX/cJpvqKFo1ijpGLCNRTq70mFS1GnhkXJ+hapwfC74w/qqQXjPA
 32XmMCJuxTE5GTau+63hz+s59vTm8Cbj5030p+oUqqbQaC5eNhb8WF5rMvBj47yU3JsXdIuC73mf
 LwU/7ufyW/rB1u1cYJ1r9ocxBzC9aayqXJ0GRkEyJnp2JfBjVXcy8GNDHVJMwgzIXAXPh9u5LbOm
 6qRo4eBCa1Hqt637xBdLuiMhnAzw+eAgChg1kKVIsqjS1t1JAh+CtAAhIZtGz+Bt6ahUSI13MG+F
 ne5Ng1fQALQq4om1kzKcICZyuNQqyJuDGtO3P07wMhZ8U5zp3Jm9ohJ4qEJySWf4uuwL39RXpD6s
 HIUaKW01nwA/XzaxpSKV8OJb9FQdHtW9vQFpBRzgK7lreCb8+UQ4q9I78nq4U/4SvGxtSH5YzdSW
 DEpRj6dq8xOBLzbyoq/h+InH6ax82X1zFGTE487cR3g6fKgaxkn5LekM95ot3kNqmb3KWu0sxBC1
 l6Y4nDAZRS3x7B6oIpujqoQ6RZU4r5CZCraFT3FH7nL2mGcmwzc1gq/f9Jmf574vPaZHn+ms0svs
 RlQ8aiInAH4MSYeKhCCliU+1OK/y6a2CNo0cNAf5jnsH97i3MCR9U22oTK8D06BqrY+mN1mXJzap
 s+y1pBRyzCDHTGTLUqL2VBfQWKISBeILZOMH6Ao2H9cY1ILUqEgbXwtfkCf9B3jcf4ARmRblfPxd
 KQX6Qme9viBxuT7HeY9aYp1Ns0rjKAglEogI4sXNSJkCV5fvUXlEOX5SgRMzOTUKtAIXZDDM0mn+
 IrvNk/JS8BgvB88cb4PxpPznaQC11F6qF1vn6uX2SmlVy9QZ1kKlmU+TbqBN1+YbQqZ09HIsV1c6
 lekCR01GBsMhAg7KfvMW/fKavBHulgPhDt4y+07Ke58yliLK8prUTKtJzdMzgBYUtSjqCsot+b59
 QRAGYQRhFBigK+yRo2YAYfBUMWr/OwCZS7uuFHXLhgAAAABJRU5ErkJggg==
